# Ignore everything
*

# Except files/folders listed here
# Put a " ! " in front of the file name and add it to the list to keep it in GitHub 
!main.c
!*.din
!Sketches/
!Testing_Code.c
!defines.c
!OperationTest.din
!cache_stats.din
!Test_Cache_Stats.sh
!PLRU_TESTING/
!Other_dins/
!Cache_Stats_Testing/
!MESI_TESTING/
!CAPACITY_TESTING/
!CAPACITY_TESTING/print.c